<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{partials/meta_tags:: meta_tags}"></th:block>
</head>
<body>
<th:block th:insert="~{partials/header:: header}"></th:block>

<main>
    <section class=" d-flex flex-wrap gap-5 justify-content-center pt-5">

        <form th:method="post" th:action="@{/collection/product}"
              th:each="product : ${products}" class="product-card dol">

        <div>
            <img width="105px" th:src="@{${product.getImg()}}" alt="">
        </div>
        <div class="product-title">
            <h2 class="fs-6 text-center" th:text="${product.getName()}">Super smoothie</h2>
            <h1 class="fs-3 text-center" th:text="${product.getDesc()}">Energy</h1>
        </div>

        <div class="product-btn">
            <input type="text" name="smoothie" th:value="${product.getName()}" class="d-none" />
            <button class="btn btn-danger">Order</button>
        </div>
        </form>

    </section>
</main>

<th:block th:insert="~{partials/footer:: footer}"></th:block>
<th:block th:insert="~{partials/scripts:: scripts}"></th:block>
</body>
</html>