<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{partials/meta_tags:: meta_tags}"></th:block>
    <title>Login</title>
</head>
<body>
<th:block th:insert="~{partials/header:: header}"></th:block>


<main>
    <section class=" d-flex flex-wrap gap-5 justify-content-center pt-5">
        <div th:each="product : ${products}" class="product-card dol">
            <div>
                <img width="105px" th:src="@{${product.getImg()}}" alt="">
            </div>
            <div class="product-title">
                <h2 class="fs-6 text-center" th:text="${product.getName()}">Super smoothie</h2>
                <h1 class="fs-3 text-center" th:text="${product.getDesc()}">Energy</h1>
            </div>

            <div class="product-btn">
                <a th:href="@{/collection/{id}(id=${product.getId()})}">
                    <button type="button" th:id="${product.getInventory_id().getId()}" class="prd btn btn-danger">Order</button>
                </a>
            </div>





            <!--        <div class="product-btn">-->
<!--                <a th:href="@{/collection/{id}(id=${products.get(2).getId()})}">-->
<!--                    <button type="button" th:id="${products.get(3).getInventory_id().getId()}" class="prd btn btn-danger">Order</button>-->
<!--                </a>-->
<!--        </div>-->
    </div>

    </section>
</main>

<th:block th:insert="~{partials/footer:: footer}"></th:block>
<th:block th:insert="~{partials/scripts:: scripts}"></th:block>
<script>
    // let prod = document.getElementsByClassName("prd");
    // prod = Array.from(prod);
    // prod.forEach(p => {
    //     console.log(p.id);
    //     p.addEventListener("click", ()=>{
    //         location.href = `/collection/${p.id}`
    //
    //         // location.href = `/collection/${p.id}`
    //     })
    // })

</script>
</body>

</html>