<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <th:block th:insert="~{partials/meta_tags:: meta_tags}"></th:block>
</head>

<body>
<th:block th:insert="~{partials/header:: header}"></th:block>

    <main>
        <section class=" hero">
            <div class=" column1">
                <p class="call-to-action fs-1">PowerUp Your Day !</p>
                <div class="img-cont">

                    <img class="arrow-left " id="arrowL" type="button" th:src="@{icons/arrow-left.svg}" alt="">

                    <a href="#">
                        <img class="img-fluid" id="currImg" th:src="@{img/orange.png}" alt}="">
                    </a>

                    <img class="arrow-right " id="arrowR" type="button" th:src="@{icons/arrow-right.svg}" alt="">

                    <!-- <div class="title-cont">
                        <p class="fs-1 product-title">Sunshine Mango</p>
                    </div> -->

                </div>
                <div class="products-lineup ">
                    <menu type="button">
                        <a th:href="@{/collection}" class="text-black">
                            <ion-icon class="fs-1" name="apps-sharp"></ion-icon>
                        </a>
                    </menu>
                    <div class="lineup ">

                        <img class="product-view solidImg" th:src="@{img/orange.png}" alt="">
                        <img class="product-view" th:src="@{img/red.png}" alt="">
                        <img class="product-view" th:src="@{img/yellow.png}" alt="">
                        <img class="product-view" th:src="@{img/green.png}" alt="">
                    </div>
                </div>
            </div>

            <div class="column2" id="column2">
                <div id="ingredients" class="crd-paper2 p-4 container-fluid info-cont bg-white d-flex flex-column
                justify-content-start align-items-start gap-2">
                    <h2 class="fs-3 text-start">Super Smoothie</h2>
                    <h2 class="fs-1 text-start mt-2">[Energy}</h2>
                    <p class="mt-2 fs-4"> <span class="fw-bold">Benefits:</span> Lorem ipsum, or sit amet consectetur
                        adipisicing elit. A corporis, explicabo dignissimos quo porro, unde inventore suscipit
                        recusandae eos autem magni ab nemo fugiat enim quos nisi expedita! Enim, omnis.</p>
                    <p class="mt-2 fs-4"> <span class="fw-bold">Ingredients:
                        </span>
                    </p>
                    <ul class="mt-2">
                        <li>lmlsdc</li>
                        <li>lmlsdc</li>
                        <li>lmlsdc</li>
                        <li>lmlsdc</li>
                        <li>lmlsdc</li>
                        <li>lmlsdc</li>
                    </ul>

                </div>
            </div>
        </section>
    </main>


<script th:src="@{js/featuredCollection.js}"></script>
<th:block th:insert="~{partials/footer:: footer}"></th:block>
<th:block th:insert="~{partials/scripts:: scripts}"></th:block>
</body>
</html>