<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{partials/meta_tags:: meta_tags}"></th:block>
    <title>Login</title>
</head>

<body>
<th:block th:insert="~{partials/header:: header}"></th:block>


<main>
    <form  class="mt-5 w-50" th:method="post" th:action="@{/login}">
        <div>
            <label for="username" class="form-label">Email</label>
            <input type="text" name="username" id="username" class="form-control">
        </div>
        <div>
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password" id="password"  class="form-control">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</main>

<th:block th:insert="~{partials/scripts:: scripts}"></th:block>

</body>
</html>