<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{partials/meta_tags:: meta_tags}"></th:block>
    <title>Login</title>
</head>

<body>
<th:block th:insert="~{partials/header:: header}"></th:block>


<main class=" justify-content-start p-3">
    <h1 class="fs-1 text-center" style="font-family: Satisfy,sans-serif">Please Login To Order Smoothies!</h1>
        <form  class="mt-5 login-form w-75" th:method="post" th:action="@{/login}">
            <div>
                <label for="username" class="form-label">Email</label>
                <input type="text" name="username" id="username" class="form-control">
            </div>
            <div>
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" id="password"  class="form-control">
            </div>

            <button type="submit" class="btn btn-danger">Submit</button>
        </form>
    <img class="img-fluid" width="300px" th:src="@{img/blender-org.png}" alt="">
</main>

<th:block th:insert="~{partials/scripts:: scripts}"></th:block>

</body>
</html>